<article class='showcase'>
  <% if @featured %>
    <section class='featured'>
      <div class='image-container'>
        <% image_url = @featured.image.attached? ? @featured.image : "no-image.png" %>
        <%= image_tag image_url, class: "review-image" %>      
      </div>      
      <h2><%= @featured.title %></h2>
      <p><%= @featured.text %></p>
    </section>
  <% end %>

  <% if @four_most %>
    <article class='four-most'>
      <% @four_most.each do |item| %>
        <%= render partial: "the_most", locals: {category: item} %>
      <% end %>
    </article>
  <% end %>
</article>
